// Tourney specific stuff
@import "base";
p a {
  color: $button-color;
}
.view-turnirji, .view-zemljevid-turnirjev {

  table {
    width: 100%;

    thead {
      th {
        height: 40px;
        padding-left: 20px;
      }
    }

    tbody tr {
      height: 100px;

      &.even {
        background-color: lightgray;
      }
      &.odd {
        background-color: $table-odd;
      }
      th, td {
        padding-left: 20px;
      }

      td {
        color: $add-tourney;

        a {
          color: $button-color;
        }
      }
    }
  }
  .view-filters {
    border-bottom: 1px solid white;
    margin-bottom: 30px;

    .views-exposed-form {

      .views-exposed-widget {
        float: none;
        @include clearfix;
        margin-bottom: 20px;
        padding-right: 0px;
      }

      #edit-field-datum-value-wrapper, #edit-field-datum-value-1-wrapper {
        label {
          float: left;
          margin-right: 15px;
          font-weight: normal;

          &[for="edit-field-datum-value"], &[for="edit-field-datum-value-1"] {
            text-align: right;
            font-weight: bold;
          }
        }
        .views-widget {

          #edit-field-datum-value-max-wrapper, #edit-field-datum-value-min-wrapper {
            float: left;
          }
          #edit-field-datum-value-min-wrapper label {
            display: none;
          }
          .description {
            display: none;
          }
        }
      }
      #edit-field-geofield-distance-wrapper {
        label {
          float: left;
          text-align: right;
          margin-right: 15px;
        }
        input {
          width: 200px;
          text-align: right;

          &#edit-field-geofield-distance-distance {
            width: 70px;
          }
        }
        .geofield-proximity-origin-from, .form-item-field-geofield-distance-unit {
          padding-top: 0px;
        }
      }
      #edit-field-panoga-tid-wrapper {
        label {
          float: left;
          text-align: right;
          margin-right: 15px;
        }
      }
      .views-submit-button {
        text-align: right;

        input {
          margin: 0px;
        }
      }
    }
  }
  .view-content {
    width: 820px;

    .gmap {
      float: left;
      margin-right: 30px;
    }
  }
  .attachment .view-zemljevid-turnirjev {
    float: left;
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 210px;

    .view-content {
      width: 197px;

      .map-address {
        cursor: pointer;
        padding: 15px 20px;
        background-color: $table-odd;
        border-bottom: 2px solid $bg-color;

        &:hover {
          background-color: $comment-even;
        }
        a {
          color: $button-color;

          &:hover {
            text-decoration: underline;
          }
        }
        .vcard {
          color: $text-color;
          padding-left: 10px;
        }
      }
    }
  }
}
.view-turnirji .view-content {
  width: 100%;
}
.view-turnir-display {

  .view-content {
    @include clearfix;
  }
  .attachment {
    h2.node-title {
      display: none;
    }
    .comments {

      .indented article {
        margin-top: -25px;

        header .submitted span {
          //border-bottom: 3px solid $bg-color;
          //border-right: 3px solid $bg-color;
          padding: 5px 10px;

          &.username {
            border: none;
            padding: 0px;
          }
        }
        &.even header span, &.even header a {
          color: $bg-color;
          background-color: $comment-even;
        }
        &.odd header span, &.odd header a {
          color: $bg-color;
          background: $table-odd;
        }
      }
      article {
        margin-bottom: 15px;
        color: $bg-color;

        header {
          color: white;

          span {
            padding-left: 15px;
          }
          a {
            color: white;
          }
        }
        &.odd {
          .comment_grp {
            padding: 30px;
            background-color: $table-odd;
          }
        }
        &.even {
          .comment_grp {
            padding: 30px;
            background-color: $comment-even;
          }
        }
      }
      h2.title {

      }
      p {
        margin: 0px;
      }
      ul {
        margin-bottom: 0px;
        @include clearfix;

        li {
          float: right;
          margin-right: 20px;
          background-color: $add-tourney;
          width: 70px;
          height: 30px;
          transition: width 400ms ease;

          a {
            color: white;
            text-align: center;
            display: block;
            line-height: 30px;
          }
        }
      }
    }
  }
  .views-label {
    float: left;
    margin-right: 15px;
    text-align: right;
    width: 100px;
  }
  .views-field-field-organizator {
    float: left;
    margin-right: 15px;
  }
  .views-field-title {
    display: inline-block;
    margin-right: 20px;

    h2 {
      margin: 0px;
    }
  }
  .views-field-field-panoga {
    font-size: 14px;
    padding-left: 15px;
    margin-top: -10px;
    margin-bottom: 50px;
  }
  .views-field-field-datum {
    display: inline-block;
  }
  .views-field-field-nagrade {
    margin-bottom: 15px;
    float: left;
    width: 410px;

    .field-content {
      margin-left: 115px;
      text-transform: none;
    }
  }
  .views-field-field-opis-turnirja {
    float: left;
    width: 430px;

    .field-content {
      margin-left: 115px;
      text-transform: none;
    }
  }
  .views-field-field-prijavnina {
    margin-bottom: 15px;
    float: left;
    width: 430px;

    .field-content {
      margin-left: 115px;
      text-transform: none;
    }
  }
  .views-field-field-igrisce {
    margin-bottom: 15px;
    float: left;
    width: 430px;

    .field-content {
      margin-left: 115px;
      text-transform: none;
    }
  }
  .views-field-field-igrisce-1 {
    float: left;
    margin-right: 30px;
    width: 600px;
  }
}

.gmap {
  .gmap-popup {
    a {
      color: $button-color;
      font-size: 18px;

      &:hover {
        text-decoration: underline;
      }
    }
    .views-field-field-igrisce {
      color: $bg-color;
      padding-left: 10px;
    }
  }
  .myPopup {
    a {
      color: $button-color;

      &:hover {
        text-decoration: underline;
      }
    }
    .vcard {
      color: $text-color;
      padding-left: 10px;
    }
  }
}

input.form-submit { 
  margin-left: 20px;
  height: 40px;
  width: 100px;
  background-color: $button-color;
  color: white;
  text-transform: lowercase;
  border: none;

  &:hover {
    text-decoration: underline;
  }
}

.not-logged-in .tabledrag-toggle-weight-wrapper {
  display: none;
}

.date-display-single {
  color: $text-color;
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}