/**
 * @file
 * RTL companion for the fixed-width.css file.
 */
/**
 * @file
 * Positioning for a fixed-width, desktop-centric layout.
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
@import url(http://fonts.googleapis.com/css?family=Play:400,700&subset=latin,latin-ext);
/*
 * Center the page.
 */
/* line 43, ../../sass/layouts/fixed-width.scss */
#page,
.region-bottom {
  /* If you want to make the page a fixed width and centered in the viewport,
   * this is the standards-compliant way to do that. */
  margin-left: auto;
  margin-right: auto;
  width: 980px;
}

/*
 * Apply the shared properties of grid items in a single, efficient ruleset.
 */
/* line 61, ../../sass/layouts/fixed-width.scss */
#header,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer {
  padding-left: 10px;
  padding-right: 10px;
  border: 0 !important;
  word-wrap: break-word;
}

/*
 * Containers for grid items and flow items.
 */
/* line 52, ../../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#header:before, #header:after,
#main:before,
#main:after,
#footer:before,
#footer:after {
  content: "";
  display: table;
}
/* line 56, ../../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#header:after,
#main:after,
#footer:after {
  clear: both;
}

/*
 * Navigation bar
 */
/* line 79, ../../sass/layouts/fixed-width.scss */
#main {
  padding-top: 3em;
  /* Move all the children of #main down to make room. */
  position: relative;
}

/* line 83, ../../sass/layouts/fixed-width.scss */
#navigation {
  position: absolute;
  top: 0;
  /* Move the navbar up inside #main's padding. */
  height: 3em;
  width: 960px;
}

/*
 * The layout when there is only one sidebar, the left one.
 */
/* line 95, ../../sass/layouts/fixed-width.scss */
.sidebar-first #content {
  /* Span 4 columns, starting in 2nd column from left. */
  float: right;
  width: 764px;
  margin-right: 196px;
  margin-left: -980px;
}
/* line 99, ../../sass/layouts/fixed-width.scss */
.sidebar-first .region-sidebar-first {
  /* Span 1 column, starting in 1st column from left. */
  float: right;
  width: 176px;
  margin-right: 0px;
  margin-left: -196px;
}

/*
 * The layout when there is only one sidebar, the right one.
 */
/* line 109, ../../sass/layouts/fixed-width.scss */
.sidebar-second #content {
  /* Span 4 columns, starting in 1st column from left. */
  float: right;
  width: 764px;
  margin-right: 0px;
  margin-left: -784px;
}
/* line 113, ../../sass/layouts/fixed-width.scss */
.sidebar-second .region-sidebar-second {
  /* Span 1 column, starting in 5th column from left. */
  float: right;
  width: 176px;
  margin-right: 784px;
  margin-left: -980px;
}

/*
 * The layout when there are two sidebars.
 */
/* line 123, ../../sass/layouts/fixed-width.scss */
.two-sidebars #content {
  /* Span 3 columns, starting in 2nd column from left. */
  float: right;
  width: 568px;
  margin-right: 196px;
  margin-left: -784px;
}
/* line 127, ../../sass/layouts/fixed-width.scss */
.two-sidebars .region-sidebar-first {
  /* Span 1 column, starting in 1st column from left. */
  float: right;
  width: 176px;
  margin-right: 0px;
  margin-left: -196px;
}
/* line 131, ../../sass/layouts/fixed-width.scss */
.two-sidebars .region-sidebar-second {
  /* Span 1 column, starting in 5th column from left. */
  float: right;
  width: 176px;
  margin-right: 784px;
  margin-left: -980px;
}
