@import url(http://fonts.googleapis.com/css?family=Play:400,700&subset=latin,latin-ext);
/* line 3, ../sass/tourney.scss */
p a {
  color: #3fa9f5;
}

/* line 8, ../sass/tourney.scss */
.view-turnirji table, .view-zemljevid-turnirjev table {
  width: 100%;
}
/* line 12, ../sass/tourney.scss */
.view-turnirji table thead th, .view-zemljevid-turnirjev table thead th {
  height: 40px;
  padding-left: 20px;
}
/* line 18, ../sass/tourney.scss */
.view-turnirji table tbody tr, .view-zemljevid-turnirjev table tbody tr {
  height: 100px;
}
/* line 21, ../sass/tourney.scss */
.view-turnirji table tbody tr.even, .view-zemljevid-turnirjev table tbody tr.even {
  background-color: lightgray;
}
/* line 24, ../sass/tourney.scss */
.view-turnirji table tbody tr.odd, .view-zemljevid-turnirjev table tbody tr.odd {
  background-color: white;
}
/* line 27, ../sass/tourney.scss */
.view-turnirji table tbody tr th, .view-turnirji table tbody tr td, .view-zemljevid-turnirjev table tbody tr th, .view-zemljevid-turnirjev table tbody tr td {
  padding-left: 20px;
}
/* line 31, ../sass/tourney.scss */
.view-turnirji table tbody tr td, .view-zemljevid-turnirjev table tbody tr td {
  color: #62b24b;
}
/* line 34, ../sass/tourney.scss */
.view-turnirji table tbody tr td a, .view-zemljevid-turnirjev table tbody tr td a {
  color: #3fa9f5;
}
/* line 40, ../sass/tourney.scss */
.view-turnirji .view-filters, .view-zemljevid-turnirjev .view-filters {
  border-bottom: 1px solid white;
  margin-bottom: 30px;
}
/* line 46, ../sass/tourney.scss */
.view-turnirji .view-filters .views-exposed-form .views-exposed-widget, .view-zemljevid-turnirjev .view-filters .views-exposed-form .views-exposed-widget {
  float: none;
  overflow: hidden;
  margin-bottom: 20px;
  padding-right: 0px;
}
/* line 54, ../sass/tourney.scss */
.view-turnirji .view-filters .views-exposed-form #edit-field-datum-value-wrapper label, .view-turnirji .view-filters .views-exposed-form #edit-field-datum-value-1-wrapper label, .view-zemljevid-turnirjev .view-filters .views-exposed-form #edit-field-datum-value-wrapper label, .view-zemljevid-turnirjev .view-filters .views-exposed-form #edit-field-datum-value-1-wrapper label {
  float: left;
  margin-right: 15px;
  font-weight: normal;
}
/* line 59, ../sass/tourney.scss */
.view-turnirji .view-filters .views-exposed-form #edit-field-datum-value-wrapper label[for="edit-field-datum-value"], .view-turnirji .view-filters .views-exposed-form #edit-field-datum-value-wrapper label[for="edit-field-datum-value-1"], .view-turnirji .view-filters .views-exposed-form #edit-field-datum-value-1-wrapper label[for="edit-field-datum-value"], .view-turnirji .view-filters .views-exposed-form #edit-field-datum-value-1-wrapper label[for="edit-field-datum-value-1"], .view-zemljevid-turnirjev .view-filters .views-exposed-form #edit-field-datum-value-wrapper label[for="edit-field-datum-value"], .view-zemljevid-turnirjev .view-filters .views-exposed-form #edit-field-datum-value-wrapper label[for="edit-field-datum-value-1"], .view-zemljevid-turnirjev .view-filters .views-exposed-form #edit-field-datum-value-1-wrapper label[for="edit-field-datum-value"], .view-zemljevid-turnirjev .view-filters .views-exposed-form #edit-field-datum-value-1-wrapper label[for="edit-field-datum-value-1"] {
  text-align: right;
  font-weight: bold;
}
/* line 66, ../sass/tourney.scss */
.view-turnirji .view-filters .views-exposed-form #edit-field-datum-value-wrapper .views-widget #edit-field-datum-value-max-wrapper, .view-turnirji .view-filters .views-exposed-form #edit-field-datum-value-wrapper .views-widget #edit-field-datum-value-min-wrapper, .view-turnirji .view-filters .views-exposed-form #edit-field-datum-value-1-wrapper .views-widget #edit-field-datum-value-max-wrapper, .view-turnirji .view-filters .views-exposed-form #edit-field-datum-value-1-wrapper .views-widget #edit-field-datum-value-min-wrapper, .view-zemljevid-turnirjev .view-filters .views-exposed-form #edit-field-datum-value-wrapper .views-widget #edit-field-datum-value-max-wrapper, .view-zemljevid-turnirjev .view-filters .views-exposed-form #edit-field-datum-value-wrapper .views-widget #edit-field-datum-value-min-wrapper, .view-zemljevid-turnirjev .view-filters .views-exposed-form #edit-field-datum-value-1-wrapper .views-widget #edit-field-datum-value-max-wrapper, .view-zemljevid-turnirjev .view-filters .views-exposed-form #edit-field-datum-value-1-wrapper .views-widget #edit-field-datum-value-min-wrapper {
  float: left;
}
/* line 69, ../sass/tourney.scss */
.view-turnirji .view-filters .views-exposed-form #edit-field-datum-value-wrapper .views-widget #edit-field-datum-value-min-wrapper label, .view-turnirji .view-filters .views-exposed-form #edit-field-datum-value-1-wrapper .views-widget #edit-field-datum-value-min-wrapper label, .view-zemljevid-turnirjev .view-filters .views-exposed-form #edit-field-datum-value-wrapper .views-widget #edit-field-datum-value-min-wrapper label, .view-zemljevid-turnirjev .view-filters .views-exposed-form #edit-field-datum-value-1-wrapper .views-widget #edit-field-datum-value-min-wrapper label {
  display: none;
}
/* line 72, ../sass/tourney.scss */
.view-turnirji .view-filters .views-exposed-form #edit-field-datum-value-wrapper .views-widget .description, .view-turnirji .view-filters .views-exposed-form #edit-field-datum-value-1-wrapper .views-widget .description, .view-zemljevid-turnirjev .view-filters .views-exposed-form #edit-field-datum-value-wrapper .views-widget .description, .view-zemljevid-turnirjev .view-filters .views-exposed-form #edit-field-datum-value-1-wrapper .views-widget .description {
  display: none;
}
/* line 78, ../sass/tourney.scss */
.view-turnirji .view-filters .views-exposed-form #edit-field-geofield-distance-wrapper label, .view-zemljevid-turnirjev .view-filters .views-exposed-form #edit-field-geofield-distance-wrapper label {
  float: left;
  text-align: right;
  margin-right: 15px;
}
/* line 83, ../sass/tourney.scss */
.view-turnirji .view-filters .views-exposed-form #edit-field-geofield-distance-wrapper input, .view-zemljevid-turnirjev .view-filters .views-exposed-form #edit-field-geofield-distance-wrapper input {
  width: 200px;
  text-align: right;
}
/* line 87, ../sass/tourney.scss */
.view-turnirji .view-filters .views-exposed-form #edit-field-geofield-distance-wrapper input#edit-field-geofield-distance-distance, .view-zemljevid-turnirjev .view-filters .views-exposed-form #edit-field-geofield-distance-wrapper input#edit-field-geofield-distance-distance {
  width: 70px;
}
/* line 91, ../sass/tourney.scss */
.view-turnirji .view-filters .views-exposed-form #edit-field-geofield-distance-wrapper .geofield-proximity-origin-from, .view-turnirji .view-filters .views-exposed-form #edit-field-geofield-distance-wrapper .form-item-field-geofield-distance-unit, .view-zemljevid-turnirjev .view-filters .views-exposed-form #edit-field-geofield-distance-wrapper .geofield-proximity-origin-from, .view-zemljevid-turnirjev .view-filters .views-exposed-form #edit-field-geofield-distance-wrapper .form-item-field-geofield-distance-unit {
  padding-top: 0px;
}
/* line 96, ../sass/tourney.scss */
.view-turnirji .view-filters .views-exposed-form #edit-field-panoga-tid-wrapper label, .view-zemljevid-turnirjev .view-filters .views-exposed-form #edit-field-panoga-tid-wrapper label {
  float: left;
  text-align: right;
  margin-right: 15px;
}
/* line 102, ../sass/tourney.scss */
.view-turnirji .view-filters .views-exposed-form .views-submit-button, .view-zemljevid-turnirjev .view-filters .views-exposed-form .views-submit-button {
  text-align: right;
}
/* line 105, ../sass/tourney.scss */
.view-turnirji .view-filters .views-exposed-form .views-submit-button input, .view-zemljevid-turnirjev .view-filters .views-exposed-form .views-submit-button input {
  margin: 0px;
}
/* line 111, ../sass/tourney.scss */
.view-turnirji .view-content, .view-zemljevid-turnirjev .view-content {
  width: 820px;
}
/* line 114, ../sass/tourney.scss */
.view-turnirji .view-content .gmap, .view-zemljevid-turnirjev .view-content .gmap {
  float: left;
  margin-right: 30px;
}
/* line 119, ../sass/tourney.scss */
.view-turnirji .attachment .view-zemljevid-turnirjev, .view-zemljevid-turnirjev .attachment .view-zemljevid-turnirjev {
  float: left;
  height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 210px;
}
/* line 126, ../sass/tourney.scss */
.view-turnirji .attachment .view-zemljevid-turnirjev .view-content, .view-zemljevid-turnirjev .attachment .view-zemljevid-turnirjev .view-content {
  width: 197px;
}
/* line 129, ../sass/tourney.scss */
.view-turnirji .attachment .view-zemljevid-turnirjev .view-content .map-address, .view-zemljevid-turnirjev .attachment .view-zemljevid-turnirjev .view-content .map-address {
  cursor: pointer;
  padding: 15px 20px;
  background-color: white;
  border-bottom: 2px solid gainsboro;
}
/* line 135, ../sass/tourney.scss */
.view-turnirji .attachment .view-zemljevid-turnirjev .view-content .map-address:hover, .view-zemljevid-turnirjev .attachment .view-zemljevid-turnirjev .view-content .map-address:hover {
  background-color: #e2e2e2;
}
/* line 138, ../sass/tourney.scss */
.view-turnirji .attachment .view-zemljevid-turnirjev .view-content .map-address a, .view-zemljevid-turnirjev .attachment .view-zemljevid-turnirjev .view-content .map-address a {
  color: #3fa9f5;
}
/* line 141, ../sass/tourney.scss */
.view-turnirji .attachment .view-zemljevid-turnirjev .view-content .map-address a:hover, .view-zemljevid-turnirjev .attachment .view-zemljevid-turnirjev .view-content .map-address a:hover {
  text-decoration: underline;
}
/* line 145, ../sass/tourney.scss */
.view-turnirji .attachment .view-zemljevid-turnirjev .view-content .map-address .vcard, .view-zemljevid-turnirjev .attachment .view-zemljevid-turnirjev .view-content .map-address .vcard {
  color: black;
  padding-left: 10px;
}

/* line 153, ../sass/tourney.scss */
.view-turnirji .view-content {
  width: 100%;
}

/* line 158, ../sass/tourney.scss */
.view-turnir-display .view-content {
  overflow: hidden;
}
/* line 162, ../sass/tourney.scss */
.view-turnir-display .attachment h2.node-title {
  display: none;
}
/* line 167, ../sass/tourney.scss */
.view-turnir-display .attachment .comments .indented article {
  margin-top: -25px;
}
/* line 170, ../sass/tourney.scss */
.view-turnir-display .attachment .comments .indented article header .submitted span {
  padding: 5px 10px;
}
/* line 175, ../sass/tourney.scss */
.view-turnir-display .attachment .comments .indented article header .submitted span.username {
  border: none;
  padding: 0px;
}
/* line 180, ../sass/tourney.scss */
.view-turnir-display .attachment .comments .indented article.even header span, .view-turnir-display .attachment .comments .indented article.even header a {
  color: gainsboro;
  background-color: #e2e2e2;
}
/* line 184, ../sass/tourney.scss */
.view-turnir-display .attachment .comments .indented article.odd header span, .view-turnir-display .attachment .comments .indented article.odd header a {
  color: gainsboro;
  background: white;
}
/* line 189, ../sass/tourney.scss */
.view-turnir-display .attachment .comments article {
  margin-bottom: 15px;
  color: gainsboro;
}
/* line 193, ../sass/tourney.scss */
.view-turnir-display .attachment .comments article header {
  color: white;
}
/* line 196, ../sass/tourney.scss */
.view-turnir-display .attachment .comments article header span {
  padding-left: 15px;
}
/* line 199, ../sass/tourney.scss */
.view-turnir-display .attachment .comments article header a {
  color: white;
}
/* line 204, ../sass/tourney.scss */
.view-turnir-display .attachment .comments article.odd .comment_grp {
  padding: 30px;
  background-color: white;
}
/* line 210, ../sass/tourney.scss */
.view-turnir-display .attachment .comments article.even .comment_grp {
  padding: 30px;
  background-color: #e2e2e2;
}
/* line 219, ../sass/tourney.scss */
.view-turnir-display .attachment .comments p {
  margin: 0px;
}
/* line 222, ../sass/tourney.scss */
.view-turnir-display .attachment .comments ul {
  margin-bottom: 0px;
  overflow: hidden;
}
/* line 226, ../sass/tourney.scss */
.view-turnir-display .attachment .comments ul li {
  float: right;
  margin-right: 20px;
  background-color: #62b24b;
  width: 70px;
  height: 30px;
  transition: width 400ms ease;
}
/* line 234, ../sass/tourney.scss */
.view-turnir-display .attachment .comments ul li a {
  color: white;
  text-align: center;
  display: block;
  line-height: 30px;
}
/* line 244, ../sass/tourney.scss */
.view-turnir-display .views-label {
  float: left;
  margin-right: 15px;
  text-align: right;
  width: 100px;
}
/* line 250, ../sass/tourney.scss */
.view-turnir-display .views-field-field-organizator {
  float: left;
  margin-right: 15px;
}
/* line 254, ../sass/tourney.scss */
.view-turnir-display .views-field-title {
  display: inline-block;
  margin-right: 20px;
}
/* line 258, ../sass/tourney.scss */
.view-turnir-display .views-field-title h2 {
  margin: 0px;
}
/* line 262, ../sass/tourney.scss */
.view-turnir-display .views-field-field-panoga {
  font-size: 14px;
  padding-left: 15px;
  margin-top: -10px;
  margin-bottom: 50px;
}
/* line 268, ../sass/tourney.scss */
.view-turnir-display .views-field-field-datum {
  display: inline-block;
}
/* line 271, ../sass/tourney.scss */
.view-turnir-display .views-field-field-nagrade {
  margin-bottom: 15px;
  float: left;
  width: 410px;
}
/* line 276, ../sass/tourney.scss */
.view-turnir-display .views-field-field-nagrade .field-content {
  margin-left: 115px;
  text-transform: none;
}
/* line 281, ../sass/tourney.scss */
.view-turnir-display .views-field-field-opis-turnirja {
  float: left;
  width: 430px;
}
/* line 285, ../sass/tourney.scss */
.view-turnir-display .views-field-field-opis-turnirja .field-content {
  margin-left: 115px;
  text-transform: none;
}
/* line 290, ../sass/tourney.scss */
.view-turnir-display .views-field-field-prijavnina {
  margin-bottom: 15px;
  float: left;
  width: 430px;
}
/* line 295, ../sass/tourney.scss */
.view-turnir-display .views-field-field-prijavnina .field-content {
  margin-left: 115px;
  text-transform: none;
}
/* line 300, ../sass/tourney.scss */
.view-turnir-display .views-field-field-igrisce {
  margin-bottom: 15px;
  float: left;
  width: 430px;
}
/* line 305, ../sass/tourney.scss */
.view-turnir-display .views-field-field-igrisce .field-content {
  margin-left: 115px;
  text-transform: none;
}
/* line 310, ../sass/tourney.scss */
.view-turnir-display .views-field-field-igrisce-1 {
  float: left;
  margin-right: 30px;
  width: 600px;
}

/* line 319, ../sass/tourney.scss */
.gmap .gmap-popup a {
  color: #3fa9f5;
  font-size: 18px;
}
/* line 323, ../sass/tourney.scss */
.gmap .gmap-popup a:hover {
  text-decoration: underline;
}
/* line 327, ../sass/tourney.scss */
.gmap .gmap-popup .views-field-field-igrisce {
  color: gainsboro;
  padding-left: 10px;
}
/* line 333, ../sass/tourney.scss */
.gmap .myPopup a {
  color: #3fa9f5;
}
/* line 336, ../sass/tourney.scss */
.gmap .myPopup a:hover {
  text-decoration: underline;
}
/* line 340, ../sass/tourney.scss */
.gmap .myPopup .vcard {
  color: black;
  padding-left: 10px;
}

/* line 347, ../sass/tourney.scss */
input.form-submit {
  margin-left: 20px;
  height: 40px;
  width: 100px;
  background-color: #3fa9f5;
  color: white;
  text-transform: lowercase;
  border: none;
}
/* line 356, ../sass/tourney.scss */
input.form-submit:hover {
  text-decoration: underline;
}

/* line 361, ../sass/tourney.scss */
.not-logged-in .tabledrag-toggle-weight-wrapper {
  display: none;
}

/* line 365, ../sass/tourney.scss */
.date-display-single {
  color: black;
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}
